@use '../abstracts' as *;

.container {
  --max-width: #{$container-max-width};

  width: min(var(--max-width), 100% - ( var(--container-padding, 1rem) * 2) );
  margin-inline: auto;
}

.container[data-type="wide"] {
  --max-width: #{$container-max-width-wide};
}
